body {
  background-color: #e4def5;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:8px !important;
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}

form {
  text-align: center;
}
.navbar-form {
  margin-top: 6px;
  margin-bottom: 6px;
}
.searchbar input {
  width: 44vw;
  border-radius: 2px;
  background-color: #f1f1f1;
  border-style: none;
  line-height: 30px;
  padding-left: 4px;
}

.video-item img {
  max-width: 64px;
}
.video-detail {
  margin-top: 8%;
  color: #000;
}
.video-detail .details {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
}
.video-list {
  margin-top: 8%;
}
.list-group-item {
  cursor: pointer;
  border-width: 0;
}
.list-group-item:hover {
  background-color: #eee;
}
.title {
  font-size: 1.2em;
  font-weight: bolder;
}
.channel {
  font-weight: 600;
}
.channel:hover {
  display: inline;
  color: #666;
  cursor: pointer;

}
.date {
  font-weight: lighter;
}
.container {
  transition: width 0.1s;
}

@media only screen and (max-width: 768px) {
        .container {
            margin-top: 8%;
        }
}
@media only screen and (max-width: 645px) {
        .container {
            margin-top: 15%;
        }
}
@media only screen and (max-width: 450px) {
        .container {
            margin-top: 20%;
        }
}
@media only screen and (max-width: 370px) {
        .container {
            margin-top: 35%;
        }
}